.header {
  display: flex;
  color: #fff;
  margin-bottom: 24px;
  font-size: 17px;
  margin-left: 25px;

  div {
    border-bottom: 1px solid #fff;
    cursor: pointer;
  }

  div:last-child {
    margin-left: 38px;
  }
}